.emptyTasksContainer {
  width: 736px;
  height: 287px;
  color: var(--gray-300);

  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.emptyTasksInfo {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firstLine {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
}