.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;
  margin-bottom: 0.8rem;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  width: 46rem;
  height: 4.5rem;

  background: var(--gray-500);

  //border: 1px solid red;
}

.taskContainer p {
  width: 632px;
  height: 40px;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 140%;
  color: var(--gray-100);
  //text-decoration: line-through;
}



.taskContainer button {
  display: flex;
  align-items: flex-start;
  background: transparent;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.checkbox input {
  display: none;

}

.checkbox span {
  width: 2.4rem;
  height: 2.4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 0.2rem solid #4EA8DE;
  border-radius: 50%;
  display: block;
}

.checkbox input:checked + span {
  background: #5E60CE;
  border: none;
  margin: auto;
  padding: 5px;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
}